.input {
  border: 1px solid #dcdcdc;
  outline: none;

  transition: background-color 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.input-text {
  padding: 20px;
  border-radius: 30px;
}

.input-error {
  background-color: #ffdfdf;
}
