/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  &-center {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: $overlay-layer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-overlay {
    background: rgba(0, 0, 0, 0.8);
  }

  &-container {
    background-color: #fff;

    max-height: 95vh;

    padding: 30px 30px 50px 30px;

    border-radius: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-container-small {
    max-width: 500px;
  }

  &-container-full {
    width: 100%;
    max-width: $container-max-width;
  }

  &-accept-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-accept-icon {
    margin-right: 20px;
  }

  &-close {
    display: block;

    margin-left: auto;

    background: transparent;
    border: 0;
    outline: none;

    cursor: pointer;
  }

  &-close:before {
    content: "\2715";
    font-size: 18px;
  }

  &-content-row {
    display: flex;
    justify-content: space-between;

    @include last(1) {
      margin-top: 65px;
    }
  }

  &-content-column {
    width: 100%;
    max-width: 500px;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}
