.product-feature-table {
  width: 100%;
  border-collapse: collapse;

  .table-row,
  .table-column {
    padding: 15px;

    @include breakpoint($phone-l) {
      padding: 15px 5px;
    }
  }

  .table-row {
    @include even {
      background-color: #f7f7f7;
    }
  }
}

.table-cart-total {
  .table-row {
    text-align: right;
    padding: 15px;
  }

  .table-row,
  .table-column {
    padding: 10px;
  }

  .table-column-padding {
    padding-left: 50px;
  }

  @include breakpoint($phone-l) {
    .table-row {
      text-align: left;
    }

    .table-cart-price-main {
      width: 100px;
    }

    .table-column-padding {
      padding-left: 0;
    }
  }
}
