// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

footer {
  position: absolute;
  z-index: $second-layer;
  bottom: 85px;

  width: 100%;
}