// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

header {
  position: absolute;
  z-index: $second-layer;
  top: 0;

  width: 100%;
  height: 60px;

  @include breakpoint($phone-l) {
    top: 15px;
  }

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    position: relative;

    height: 100%;

    @include breakpoint($phone-l) {
      align-items: center;
    }
  }

  .callback {
    display: flex;
    align-items: center;

    position: relative;
    cursor: pointer;

    @include breakpoint($phone-l) {
      margin-top: 10px;
    }

    &-wrapper {
      display: flex;
      align-items: center;

      position: relative;

      @include breakpoint($phone-l) {
        flex-wrap: wrap;
      }
    }
  }

  .phone {
    margin-right: 35px;
  }

  .icon-header {
    margin-right: 10px;
  }

  .icon-callback {
    width: 27px;
    height: 27px;
  }

  .cart {
    position: absolute;
    right: 0;
    padding: 10px 0;

    cursor: pointer;

    @include breakpoint($phone-l) {
      position: relative;
    }
  }

  .icon-cart {
    width: 27px;
    height: 27px;
  }

  .cart-cost {
    &::before {
      content: "/";
      margin: 0 5px;
    }
  }
}
