// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

header {
  position: absolute;
  z-index: $second-layer;
  top: 0;

  width: 100%;
  height: 60px;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    height: 100%;
  }

  .phone {
    margin-right: 35px;
  }

  .icon-header {
    margin-right: 10px;
  }

  .icon-callback {
    width: 27px;
    height: 27px;
  }

  .icon-cart {
    width: 27px;
    height: 27px;
  }

  .cart-cost {
    &::before {
      content: "/";
      margin: 0 5px;
    }
  }
}
