#order-info {
  display: flex;
  align-items: center;

  min-height: 910px;
  margin-top: 150px;

  background-image: url("../img/backgrounds/order-info-background.jpg");


  .container {
    position: relative;
  }

  .step {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 150px;
    }

    &-line {
      position: absolute;
      top: 165px;
      left: 130px;

      pointer-events: none;
    }

    &-block {
      position: relative;
      width: 100%;
      max-width: 330px;

      @include last(2) {
        margin-top: 120px;
      }
    }

    &-heading {
      position: absolute;
      top: -85px;
      left: -5px;

      max-height: 90px;
      overflow: hidden;
    }
  }
}
